# Variables, Strings, and Numbers

anaconda prompt

Di bagian ini, Kita akan belajar menyimpan informasi dalam variabel.

Kita akan belajar tentang dua jenis data: string, yang merupakan himpunan karakter, dan tipe data numerik.

<a name='variables'></a>Variables
===
Variabel menyimpan nilai.

<a name='example'></a>Example
---

In [ ]:
message = "Hello Python world!"
print(message)

Hello Python world!

Variabel menyimpan nilai. Kita dapat mengubah nilai suatu variabel di titik mana pun.

In [ ]:
message = "Hello Python world!"
print(message)

message = "Python is my favorite language!"
print(message)

Hello Python world!
Python is my favorite language!

<a name='naming_rules'></a>Naming rules
---
- Variabel hanya dapat berisi huruf, angka, dan garis bawah. Nama variabel dapat dimulai dengan huruf atau garis bawah, tetapi tidak dapat dimulai dengan angka.
- Spasi tidak diperbolehkan dalam nama variabel, jadi kami menggunakan garis bawah sebagai ganti spasi. Misalnya, gunakan nama_siswa sebagai ganti "nama siswa".
- Kita tidak dapat menggunakan kata kunci Python sebagai nama variabel. (http://docs.python.org/3/reference/lexical_analysis.html#keywords).
- Nama variabel harus deskriptif, tanpa terlalu panjang. Misalnya mc_wheels lebih baik dari sekadar "roda", dan number_of_wheels_on_a_motorycle.
- Berhati-hatilah dalam menggunakan huruf kecil l dan huruf besar O di tempat-tempat yang dapat dikacaukan dengan angka 1 dan 0.

<a name='name_error'></a>NameError
---
Ada satu kesalahan umum ketika menggunakan variabel, yang hampir sama pasti akan kita temui di beberapa titik. Lihatlah kode ini, dan lihat apakah Anda dapat mengetahui mengapa ini menyebabkan kesalahan.

In [ ]:
message = "Thank you for sharing Python with the world, Guido!"
print(message)

Thank you for sharing Python with the world, Guido!

Mari kita lihat pesan kesalahan ini. Pertama, kita lihat itu adalah NameError. Kemudian kita melihat file yang menyebabkan kesalahan, dan panah hijau menunjukkan kepada kita apa baris dalam file yang menyebabkan kesalahan. Kemudian kami mendapatkan umpan balik yang lebih spesifik, bahwa "nama 'mesage' tidak didefinisikan".

Anda mungkin telah melihat sumber kesalahan. Kami mengeja pesan dengan dua cara berbeda. Python tidak peduli apakah kita menggunakan nama variabel "message" atau "mesage". Python hanya peduli bahwa ejaan nama variabel kita cocok setiap kali kita menggunakannya.

Ini cukup penting, karena memungkinkan kita untuk memiliki "nama" variabel dengan satu nama di dalamnya, dan kemudian variabel lain "nama" dengan banyak nama di dalamnya.

Kami dapat memperbaiki **NameErrors** dengan memastikan semua nama variabel kami dieja secara konsisten.

In [ ]:
message = "Thank you for sharing Python with the world, Guido!"
print(message)

Thank you for sharing Python with the world, Guido!

Jika Anda tidak tahu [Guido] (http://en.wikipedia.org/wiki/Guido_van_Rossum) [van Rossum] (http://www.python.org/~guido/) membuat bahasa Python lebih dari 20 tahun yang lalu, dan ia dianggap [Diktator Kebajikan untuk Kehidupan] Python (http://en.wikipedia.org/wiki/Benevolent_Dictator_for_Life). Guido masih menandatangani semua perubahan besar pada bahasa inti Python.

<a name='exercises_variables'></a>Exercises
---
#### Hello World - variable

-Simpan versi message Anda sendiri "Hello World" dalam variabel, dan print

#### One Variable, Two Messages:
- Simpan message dalam variabel, lalu print pesan itu.
- Simpan message baru dalam variabel yang sama, lalu print pesan baru itu.

In [ ]:
# Ex 1.1 : Hello World - Variable

# put your code here
message = "Hello world"
print(message)

Hello world

In [ ]:
# Ex 1.2 : One Variable, Two Messages

# put your code here
message = "Hello world"
message = "Hi world"
print(message)

Hi world

[top](#top)

<a name='strings'></a>Introduction to Strings
===
String adalah himpunan karakter. String lebih mudah dipahami dengan melihat beberapa contoh.

<a name='single_double_quotes'></a>Single and double quotes
---
Strings berisi kutipan tunggal atau ganda.

In [ ]:
my_string = "This is a \"double-quoted\" string."
#my_string = 'This is a single-quoted string.'
print(my_string)

This is a "double-quoted" string.

Ayo coba membuat string yang berisi kutipan.

In [ ]:
quote = "Linus Torvalds once said, \
         'Any program is only as good as it is useful.'"

### Multiline Strings

Jika kita perlu membuat string multiline, ada **triple-quote**, berikut contohnya:
`'''`

In [ ]:
multiline_string = '''This is a string where I 
can confortably write on multiple lines
without worring about to use the escape character "\\" as in
the previous example. 
As you'll see, the original string formatting is preserved.
'''

print(multiline_string)

This is a string where I
can confortably write on multiple lines
without worring about to use the escape character "\" as in
the previous example.
As you'll see, the original string formatting is preserved.

<a name='changing_case'></a>Changing case
---
Kita dapat dengan mudah mengubah case dari string, untuk menyajikannya seperti yang Kita inginkan.

In [ ]:
first_name = 'husna'

print(first_name)
print(first_name.title())

husna
Husna

Sering kali baik untuk menyimpan data dalam huruf kecil, dan kemudian mengubah kasus seperti yang Anda inginkan untuk presentasi. Ini menangkap beberapa TYpos. Itu juga memastikan bahwa 'nadya', 'Nadya', dan 'NADYA' tidak dianggap sebagai tiga orang yang berbeda.

Beberapa kasus yang paling umum adalah lebih lower, title, and upper.

In [ ]:
first_name = 'nadya'

print(first_name)
print(first_name.title())
print(first_name.upper())

first_name_titled = 'NADYA'
print(first_name_titled.lower())

nadya
Nadya
NADYA
nadya

**Catatan**: Harap perhatikan bahwa string asli tetap **Ada** tidak berubah

In [ ]:
print(first_name)
print(first_name_titled)

nadya
NADYA

Kita akan melihat sintaks ini cukup sering, di mana nama variabel diikuti oleh titik dan kemudian nama tindakan, diikuti oleh seperangkat tanda kurung. Kurung mungkin kosong, atau mungkin mengandung beberapa nilai.

    variable_name.action()

Dalam contoh ini, kata "action" adalah nama **metode**.

Metode adalah sesuatu yang dapat dilakukan untuk suatu variabel.

Metode lower, title, and upper adalah semua fungsi yang telah ditulis ke dalam bahasa Python, yang melakukan sesuatu untuk string.

Kemudian, Kita akan belajar menulis metode Kita sendiri.

<a name='concatenation'></a>Menggabungkan string (penggabungan)
---
Seringkali sangat berguna untuk dapat menggabungkan string menjadi pesan atau elemen halaman yang ingin kami tampilkan. Sekali lagi, ini lebih mudah dipahami melalui contoh.

In [ ]:
first_name = 'nadya'
last_name = 'husna'

full_name = first_name + ' ' + last_name

print(full_name.title())

Nadya Husna

Tanda plus menggabungkan dua string menjadi satu, yang disebut **penggabungan**.

Kita dapat menggunakan tanda plus sebanyak yang Kita inginkan dalam menulis pesan. Bahkan, banyak halaman web ditulis sebagai string besar yang disatukan melalui serangkaian panjang rangkaian string.

In [ ]:
first_name = 'nadya'
last_name = 'husna'
full_name = first_name + ' ' + last_name

message = full_name.title() + ' ' + \
        "is your trainer today."

print(message)

Nadya Husna is your trainer today.

If you don't know who Ada Lovelace is, you might want to go read what [Wikipedia](http://en.wikipedia.org/wiki/Ada_Lovelace) or the [Computer History Museum](http://www.computerhistory.org/babbage/adalovelace/) have to say about her. Her life and her work are also the inspiration for the [Ada Initiative](http://adainitiative.org/faq/about-ada-lovelace/), which supports women who are involved in technical fields.

### Pengantar singkat untuk pemformatan string

In [ ]:
string_template = 'The result of the calculation of {calc} is {res}'
print("String Template: ", string_template)

print(string_template.format(calc='(3*4)+2', res=(3*4)+2))

String Template:  The result of the calculation of {calc} is {res}
The result of the calculation of (3*4)+2 is 14

In [ ]:
s_t = 'Hasil operasi dari {operasi} adalah {hasil}'
print("String Template: ", s_t)

s_t.format(operasi='(1+2)*3', hasil=(1+2)*3)

String Template:  Hasil operasi dari {operasi} adalah {hasil}

'Hasil operasi dari (1+2)*3 adalah 9'

### There's much more than that!

Untuk informasi lebih lanjut tentang pemformatan string, lihat dokumentasi online resmi tentang modul string. (https://docs.python.org/3/library/string.html)

<a name='whitespace'></a>Whitespace
---
Istilah "whitespace" mengacu pada karakter yang diketahui komputer, tetapi tidak terlihat oleh pembaca. Karakter whitespace yang paling umum adalah spasi, tab, dan baris baru.

Spasi mudah dibuat, karena kita telah lama menggunakannya menggunakan komputer. Tab dan baris baru diwakili oleh kombinasi karakter khusus.

Kombinasi dua karakter "\t" membuat tab muncul dalam string. Tab dapat digunakan di mana saja Anda suka dalam sebuah string.

In [ ]:
print("Hello everyone!")

Hello everyone!

In [ ]:
print("\tHello everyone!")

	Hello everyone!

In [ ]:
print("Hello \teveryone!")

Hello 	everyone!

Kombinasi "\n" membuat baris baru muncul dalam string. Kita dapat menggunakan baris baru di mana saja kita suka dalam sebuah string.

In [ ]:
print("Hello everyone!")

Hello everyone!

In [ ]:
print("\nHello everyone!")

Hello everyone!

In [ ]:
print("Hello \neveryone!")

Hello
everyone!

In [ ]:
print("\n\n\nHello everyone!")

Hello everyone!

### Memahami whitespace


Sering kali kita mengizinkan users untuk menginput teks ke dalam kotak, dan kemudian kita akan membaca teks itu dan menggunakannya. Sangat mudah bagi orang untuk memasukkan whitespace di awal atau akhir teks mereka. Spasi mencakup ruang, tab, dan baris baru.

Sering kali ide yang baik untuk menghapus whitespace ini dari string sebelum kita mulai bekerja dengan mereka. Misalnya, Anda mungkin ingin membiarkan orang lain masuk, dan Anda mungkin ingin memperlakukan 'nadya' sebagai 'nadya' ketika kita mencoba melihat apakah saya ada di sistem Anda.

Kita dapat menghapus spasi dari sisi kiri, sisi kanan, atau kedua sisi string.

In [ ]:
name = ' nadya '

print(name.lstrip())
print(name.rstrip())
print(name.strip())

nadya
 nadya
nadya

Sulit untuk melihat dengan tepat apa yang terjadi, jadi mungkin yang berikut ini akan membuatnya sedikit lebih jelas:

In [ ]:
name = ' nadya '

print('-' + name.lstrip() + '-')
print('-' + name.rstrip() + '-')
print('-' + name.strip() + '-')

-nadya -
- nadya-
-nadya-

<a name='numbers'></a>Numbers
===
Berurusan dengan data numerik sederhana cukup mudah dalam Python, tetapi ada beberapa hal yang harus Anda ketahui.

<a name='integers'></a>Integers
---
Kita dapat melakukan semua operasi dasar dengan bilangan bulat, dan semuanya harus berperilaku seperti yang Kita harapkan. Penambahan dan pengurangan menggunakan simbol standar + dan -. Perkalian menggunakan tanda bintang, dan pembagian menggunakan garis miring ke depan. Eksponen menggunakan dua tanda *

In [ ]:
print(3+2)

5

In [ ]:
print(3-2)

1

In [ ]:
print(3*2)

6

In [ ]:
print(3/2)

1.5

In [ ]:
print(3**2)

9

You can use parenthesis to modify the standard order of operations.

In [ ]:
standard_order = 2+3*4
print(standard_order)

14

In [ ]:
my_order = (2+3)*4
print(my_order)

20

<a name='floats'></a>Floating-Point numbers
---
floating-point merujuk ke suatu nomor dengan titik desimal. Kita dapat menganggap angka floating point sebagai desimal, dan akan menunjukkan seperti yang Anda harapkan.

In [ ]:
print(0.1+0.1)

0.2

Namun, terkadang kita akan mendapatkan jawaban dengan bagian panjang desimal yang tidak terduga:

In [ ]:
print(0.1+0.2)

0.30000000000000004

Ini terjadi karena cara komputer mewakili angka secara internal; ini tidak ada hubungannya dengan Python itu sendiri. Pada dasarnya, kita terbiasa bekerja dalam kekuatan sepuluh, di mana satu persepuluh ditambah dua persepuluh hanya tiga persepuluh. Tetapi komputer bekerja dalam kekuatan dua. Jadi komputer Kita harus mewakili 0,1 dalam kekuatan dua, dan kemudian 0,2 sebagai kekuatan dua, dan menyatakan jumlah mereka sebagai kekuatan dua. Tidak ada representasi tepat untuk 0,3 dalam kekuatan dua, dan kami melihat bahwa dalam jawaban untuk 0,1 + 0,2.

Python mencoba menyembunyikan hal semacam ini jika memungkinkan. Jangan khawatir tentang hal itu untuk saat ini; jangan kaget dengan itu, dan ketahuilah bahwa kita akan belajar untuk membersihkan hasil kita sedikit di kemudian hari.

You can also get the same kind of result with other operations.

In [ ]:
print(3*0.1)

0.30000000000000004

In [ ]:
# Test
3 * 0.1 == 0.3

False

### See Also

* [What Every Computer Scientist Should Know About Floating-Point Arithmetic](http://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html)
* [`decimal` module](https://docs.python.org/3/library/decimal.html)

## Example using decimal

### Note

Instruksi pertama sel sebelumnya adalah contoh **selektif impor modul**.
Sejauh ini, perlu diketahui bahwa pola sintaks dari selektif impor modul:

    from module import something[,something else comma separated]

Lihat lebih lanjut tentang ini di notebook yang khusus ditujukan untuk ini!

<a name='comments'></a>Comments
===
Ketika Kita mulai menulis kode yang lebih rumit, Anda harus meluangkan lebih banyak waktu untuk memikirkan cara membuat kode solusi untuk masalah yang ingin Kita selesaikan. Setelah Kita mendapatkan ide, Anda akan menghabiskan cukup banyak waktu untuk memecahkan masalah kode Kita, dan merevisi pendekatan keseluruhan Anda.

Komentar memungkinkan Anda untuk menulis dalam bahasa Inggris / Indonesia, dalam program Anda. Dalam Python, baris apa pun yang dimulai dengan simbol pon (#) diabaikan oleh penerjemah Python.

In [ ]:
# This line is a comment.
#this 
#is 
#not

print("This line is not a comment, it is code.")

This line is not a comment, it is code.

<a name='good_comments'></a>Apa yang membuat komentar yang bagus?
---
- Ini singkat dan to the point, tetapi pemikiran yang lengkap. Kebanyakan komentar harus ditulis dalam kalimat lengkap.
- Ini menjelaskan pemikiran Kita, sehingga ketika Kita kembali ke kode nanti Kita akan mengerti bagaimana Kita mendekati masalah.
- Ini menjelaskan pemikiran Kita, sehingga orang lain yang bekerja dengan kode Kita akan memahami pendekatan keseluruhan Kita terhadap suatu masalah.
- Ini menjelaskan bagian kode yang sulit secara terperinci.

<a name='when_comments'></a>Kapan Kita harus menulis komentar?
---
- Ketika Kita harus memikirkan kode sebelum menulisnya.
- Saat Kita mungkin lupa nanti bagaimana tepatnya Kita mendekati masalah.
- Ketika ada lebih dari satu cara untuk menyelesaikan masalah.
- Ketika orang lain tidak mungkin mengantisipasi cara Kita berpikir tentang suatu masalah.

Menulis komentar yang baik adalah salah satu tanda yang jelas dari seorang programmer yang baik. Jika Kita benar-benar berminat untuk menganggap serius pemrograman, mulailah menggunakan komentar sekarang. Kita akan melihatnya di seluruh contoh di buku catatan ini.

<a name='introducing'></a>Introducing Lists
===
<a name='example'></a>Contoh
---

List adalah kumpulan item, yang disimpan dalam variabel. Barang-barang harus terkait dalam beberapa cara, tetapi tidak ada batasan pada apa yang dapat disimpan dalam list. Ini adalah contoh sederhana dari list, dan bagaimana kita dapat dengan cepat mengakses setiap item dalam list.

In [ ]:
buah = ['anggur', 'jeruk', 'apel']

In [ ]:
buah

['anggur', 'jeruk', 'apel']

Dalam Python, tanda kurung kotak [] menunjuk list. Untuk mendefinisikan list, Kita memberikan nama list, tanda sama dengan, dan nilai yang ingin kita sertakan dalam daftar kita dalam tanda kurung siku.

In [ ]:
dogs = ['border collie', 
        'australian cattle dog', 
        'labrador retriever']

In [ ]:
dog = dogs[2]
print(dog.title())

Labrador Retriever

In [ ]:
dog1 = dogs[0]
print(dog1.title())

Border Collie

In [ ]:
dog = dogs[1]
print(dog.title())

Australian Cattle Dog

In [ ]:
dog = dogs[-1]
print(dog.title())

Labrador Retriever

Anda tidak dapat menggunakan angka negatif yang lebih besar dari panjang daftar.

In [ ]:
dog = dogs[-4]
print(dog.title())

IndexError: ignored

<a name='accessing_all_elements'></a>Mengakses semua elemen dalam list
---
Ini adalah salah satu konsep terpenting yang terkait dengan list. Anda dapat memiliki list dengan sejuta item di dalamnya, dan dalam tiga baris kode Anda dapat menulis kalimat untuk masing-masing juta item tersebut. Jika Anda ingin memahami daftar, dan menjadi programmer yang kompeten, pastikan Anda meluangkan waktu untuk memahami bagian ini.

Kami menggunakan loop untuk mengakses semua elemen dalam daftar. Loop adalah blok kode yang berulang sampai kehabisan item untuk dikerjakan, atau sampai kondisi tertentu terpenuhi. Dalam hal ini, loop kami akan berjalan sekali untuk setiap item dalam daftar kami. Dengan daftar yang panjangnya tiga item, loop kami akan berjalan tiga kali.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever', 'X']

for dog in dogs:
    print(dog)

border collie
australian cattle dog
labrador retriever
X

Kami telah melihat cara membuat list, jadi kami benar-benar hanya mencoba memahami cara kerja dua baris terakhir. Dua baris terakhir ini membentuk satu lingkaran, dan bahasa di sini dapat membantu kita melihat apa yang terjadi:

    for dog in dogs:

- Kata kunci "for" memberi tahu Python untuk bersiap menggunakan loop.
- Variabel "dog", tanpa "s" di atasnya, adalah variabel pengganti sementara. Ini adalah variabel yang Python akan menempatkan setiap item dalam daftar, satu per satu.
- Pertama kali melalui loop, nilai "dog" akan menjadi 'border collie'.
- Kedua kalinya melalui loop, nilai "dog" akan menjadi 'dog ternak Australia'.
- Ketiga kalinya melalui, "dog" akan menjadi 'labrador retriever'.
- Setelah ini, tidak ada lagi item dalam daftar, dan loop akan berakhir.

### Di dalam dan di luar loop

Python menggunakan indentasi untuk memutuskan apa yang ada di dalam loop dan apa yang ada di luar loop. Kode yang ada di dalam loop akan dijalankan untuk setiap item dalam list. Kode yang tidak bertekuk, yang muncul setelah loop, akan dijalankan sekali seperti kode biasa.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')
    print('No, I really really like ' + dog +'s!\n')
    
print("\nThat's just how I feel about dogs.")

I like border collies.
No, I really really like border collies!

I like australian cattle dogs.
No, I really really like australian cattle dogs!

I like labrador retrievers.
No, I really really like labrador retrievers!


That's just how I feel about dogs.

### Kesalahan perulangan yang umum
Satu kesalahan perulangan umum terjadi ketika alih-alih menggunakan variabel tunggal * anjing * di dalam loop, kami tidak sengaja menggunakan variabel yang menyimpan seluruh daftar:

dogs itu list, dog elemen di dogs

for dog in dogs itu kl mtk mirip utk setiap dog elemen dogs

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']

Dalam contoh ini, ingin mencetak setiap dog dalam list, kami mencetak seluruh list setiap kali kami melewati loop. Python menempatkan setiap item dalam list ke dalam variabel *dog*, tetapi kami tidak pernah menggunakan variabel itu. Terkadang Anda hanya akan mendapatkan kesalahan jika Anda mencoba melakukan ini:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dogs + 's.')

TypeError: ignored

<a name='modifying elements'> </an> Memodifikasi elemen dalam list
---
Anda dapat mengubah nilai elemen apa pun dalam daftar jika Anda tahu posisi item itu.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dogs[0] = 'australian shepherd'
print(dogs)

['australian shepherd', 'australian cattle dog', 'labrador retriever']

<a name='finding_elements'> </a> Menemukan elemen dalam list
---
Jika Anda ingin mengetahui posisi elemen dalam list, Anda dapat menggunakan fungsi index ().

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('australian cattle dog'))

1

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('poodle'))

ValueError: ignored

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

Menambahkan item ke list
---
### Menambahkan item ke akhir list
Kami dapat menambahkan item ke daftar menggunakan metode append (). Metode ini menambahkan item baru ke akhir daftar.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.append('poodle')

In [ ]:
dogs

['border collie', 'australian cattle dog', 'labrador retriever', 'poodle']

### Memasukkan item ke dalam list
Kami juga dapat menyisipkan item di mana saja kami inginkan dalam list, menggunakan fungsi **insert()**. Kami menentukan posisi yang kami inginkan item, dan segala sesuatu dari saat itu bergeser satu posisi ke kanan. Dengan kata lain, indeks setiap item setelah item baru bertambah satu.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')

print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

In [ ]:
dogs.insert(0, 'pomerania')

In [ ]:
dogs

['pomerania',
 'border collie',
 'poodle',
 'australian cattle dog',
 'labrador retriever']

<a name='empty_list'> </a> Membuat list kosong
---
Sekarang kita tahu cara menambahkan item ke list setelah dibuat, kita dapat menggunakan list lebih dinamis. Kami tidak lagi terjebak mendefinisikan seluruh list kami sekaligus.

Pendekatan umum dengan list adalah menentukan list kosong, dan kemudian biarkan program Anda menambahkan item ke list sebagaimana diperlukan. Pendekatan ini berfungsi, misalnya, ketika mulai membangun situs web interaktif. list pengguna Anda mungkin mulai kosong, dan kemudian ketika orang mendaftar untuk situs itu akan tumbuh. Ini adalah pendekatan yang disederhanakan untuk bagaimana situs web sebenarnya bekerja, tetapi idenya realistis.

Berikut adalah contoh singkat tentang cara memulai dengan list kosong, mulai mengisinya, dan bekerja dengan item dalam list. Satu-satunya hal baru di sini adalah cara kita mendefinisikan list kosong, yang hanya berupa tanda kurung kotak kosong.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('nadya')
usernames.append('nalendra')
usernames.append('husna')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

Welcome, Nadya!
Welcome, Nalendra!
Welcome, Husna!

In [ ]:
usernames

['nadya', 'nalendra', 'husna']

In [ ]:
# Create an empty list to hold our users.
makanan = []

# Add some users.
makanan.append('bakso')
makanan.append('ayam')
makanan.append('cendol')

# Greet all of our users.
for makan in makanan:
    print("Mau makan, " + makan.title() + '!')

Mau makan, Bakso!
Mau makan, Ayam!
Mau makan, Cendol!

Jika kami tidak mengubah urutan dalam daftar kami, kami dapat menggunakan daftar untuk mencari tahu siapa pengguna terlama dan terbaru kami.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('nadya')
usernames.append('nalendra')
usernames.append('husna')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

# Recognize our first user, and welcome our newest user.
print("\nThank you for being our very first user, " + usernames[0].title() + '!')
print("And a warm welcome to our newest user, " + usernames[-1].title() + '!')

Welcome, Nadya!
Welcome, Nalendra!
Welcome, Husna!

Thank you for being our very first user, Nadya!
And a warm welcome to our newest user, Husna!

<a name='sorting_list'> </a> Menyortir List
---
Kami dapat mengurutkan daftar berdasarkan abjad, dalam urutan apa pun.

In [ ]:
students = ['nadya', 'nalendra', 'husna']

# Put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Siswa kami saat ini dalam urutan abjad.")
for student in students:
    print(student.title())

#Put students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in its current order.
print("\nSiswa kami sekarang dalam urutan abjad terbalik.")
for student in students:
    print(student.title())

Siswa kami saat ini dalam urutan abjad.
Husna
Nadya
Nalendra

Siswa kami sekarang dalam urutan abjad terbalik.
Nalendra
Nadya
Husna

### *sorted()* vs. *sort()*
Setiap kali Anda mempertimbangkan untuk mengurutkan daftar, perlu diingat bahwa Anda tidak dapat memulihkan urutan asli. Jika Anda ingin menampilkan daftar dalam urutan yang diurutkan, tetapi mempertahankan urutan yang asli, Anda dapat menggunakan fungsi *sorted()*. Fungsi *sorted()* juga menerima argumen opsional *reverse=True*.

In [ ]:
students = ['bernice', 'aaron', 'cody']

# Display students in alphabetical order, but keep the original order.
print("Berikut adalah daftar dalam urutan abjad:")
for student in sorted(students):
    print(student.title())

# Display students in reverse alphabetical order, but keep the original order.
print("\nBerikut adalah daftar dalam urutan abjad terbalik:")
for student in sorted(students, reverse=True):
    print(student.title())

print("\nIni daftar dalam urutan aslinya:")
# Show that the list is still in its original order.
for student in students:
    print(student.title())

Berikut adalah daftar dalam urutan abjad:
Aaron
Bernice
Cody

Berikut adalah daftar dalam urutan abjad terbalik:
Cody
Bernice
Aaron

Ini daftar dalam urutan aslinya:
Bernice
Aaron
Cody

In [ ]:
students = ['nadya', 'nalendra', 'husna']
students.reverse()

print(students)

['husna', 'nalendra', 'nadya']

In [ ]:
numbers = [1, 3, 4, 2]

# sort() menempatkan angka dalam urutan yang meningkat.
numbers.sort()
print(numbers)

# sort(reverse=True) menempatkan angka dalam urutan menurun.
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
students.sort()

In [ ]:
students

['husna', 'nadya', 'nalendra']

<a name='length'> </a> Menemukan panjang list
---
Anda dapat menemukan panjang list menggunakan fungsi *len()*.

In [ ]:
usernames = ['bernice', 'cody', 'aaron']
user_count = len(usernames)

print(user_count)

3

Pada catatan teknis, fungsi *len()* mengembalikan bilangan bulat, yang tidak dapat dicetak langsung dengan string. Kami menggunakan fungsi *str()* untuk mengubah integer menjadi string sehingga ia mencetak dengan baik:

In [ ]:
usernames = ['husna', 'nalendra', 'nadya']
user_count = len(usernames)

print("This will cause an error: " + user_count)

TypeError: ignored

In [ ]:
print("This will work: " + str(user_count))

This will work: 3

<a name='removing_by_position'> </a> Menghapus item berdasarkan posisi
---
Jika Anda mengetahui posisi suatu item dalam list, Anda dapat menghapus list itu menggunakan perintah *del*. Untuk menggunakan pendekatan ini, menggunakan perintah *del* dan nama list Anda, dengan indeks item yang ingin kita pindahkan dalam tanda kurung:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove the first dog from the list.
del dogs[0]

print(dogs)

['australian cattle dog', 'labrador retriever']

<a name='removing_by_value'> </a> Menghapus item berdasarkan nilai
---
Kita juga dapat menghapus item dari daftar jika kita tahu nilainya. Untuk melakukan ini, kami menggunakan fungsi *remove()*. Berikan nama daftar, diikuti dengan kata hapus dengan nilai item yang ingin Anda hapus dalam tanda kurung. Python memeriksa daftar kita, menemukan item pertama dengan nilai ini, dan menghapusnya.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove australian cattle dog from the list.
dogs.remove('australian cattle dog')

print(dogs)

['border collie', 'labrador retriever']

gimana kalau ada dobel item didalam list? maka akan terhapus item pertama

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

<a name='popping'> </a> Memunculkan item dari list
---
Ada konsep keren dalam pemrograman yang disebut "popping" item dari koleksi. Setiap bahasa pemrograman memiliki semacam struktur data yang mirip dengan list Python. Semua struktur ini dapat digunakan sebagai antrian, dan ada berbagai cara memproses item dalam antrian.

Satu pendekatan sederhana adalah mulai dengan list kosong, dan kemudian tambahkan item ke list itu. Ketika Anda ingin bekerja dengan item dalam list, Anda selalu mengambil item terakhir dari list, melakukan sesuatu dengannya, dan kemudian menghapus item itu. Fungsi *pop()* membuatnya mudah. Itu menghapus item terakhir dari list, dan memberikannya kepada kami sehingga kami dapat bekerja dengannya.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
last_dog = dogs.pop()

print(last_dog)
print(dogs)

labrador retriever
['border collie', 'australian cattle dog']

Ini adalah contoh dari pendekatan first-in dan last-out. Item pertama dalam daftar akan menjadi item terakhir yang diproses jika kita terus menggunakan pendekatan ini. Kita akan melihat implementasi penuh dari pendekatan ini nanti, ketika kita belajar tentang *while* loop.

kita benar-benar dapat mengeluarkan item yang kita inginkan dari daftar, dengan memberikan indeks dari item yang ingin kita pop. Jadi kita bisa melakukan pendekatan masuk pertama, keluar pertama dengan menampilkan iem pertama dalam daftar:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
first_dog = dogs.pop(0)

print(first_dog)
print(dogs)

border collie
['australian cattle dog', 'labrador retriever']

<a name='slicing'> </a> Slicing a List
===
Karena list adalah kumpulan item, kita harus bisa mendapatkan subset item tersebut. Misalnya, jika kita hanya ingin mendapatkan tiga item pertama dari list, kita harus dapat melakukannya dengan mudah. Hal yang sama harus berlaku untuk tiga item di tengah list, atau tiga item terakhir, atau x item mana saja dari list. Himpunan bagian dari list ini disebut *irisan*.

In [ ]:
usernames = ['nadya', 'icin', 'nalen', 'sarah', 'husna']

# Grab the first three users in the list.
first_batch = usernames[0:3]

for user in first_batch:
    print(user.title())

Nadya
Icin
Nalen

In [ ]:
first_batch

['nadya', 'icin', 'nalen']

In [ ]:
# Grab the first three users in the list.
first_batch = usernames[2:]

for user in first_batch:
    print(user.title())

Nalen
Sarah
Husna

In [ ]:
# Grab a batch from the middle of the list.
middle_batch = usernames[1:4]

for user in middle_batch:
    print(user.title())

Icin
Nalen
Sarah

### <a name='copying'> </a> Copying a list
Kita dapat menggunakan notasi slice untuk membuat Copying a list, dengan mengabaikan indeks awal dan akhir. Ini menyebabkan irisan terdiri dari segala sesuatu dari item pertama hingga terakhir, yang merupakan seluruh daftar.

In [ ]:
usernames = ['nadya', 'icin', 'nalen', 'sarah', 'husna']

# Make a copy of the list.
copied_usernames = usernames[:]
print("The full copied list:\n\t", copied_usernames)

# Remove the first two users from the copied list.
del copied_usernames[0]
del copied_usernames[0]
print("\nTwo users removed from copied list:\n\t", copied_usernames)

# The original list is unaffected.
print("\nThe original list:\n\t", usernames)

The full copied list:
	 ['nadya', 'icin', 'nalen', 'sarah', 'husna']

Two users removed from copied list:
	 ['nalen', 'sarah', 'husna']

The original list:
	 ['nadya', 'icin', 'nalen', 'sarah', 'husna']

<a name='numerical_lists'> </a> Daftar Numerik
===
Tidak ada yang istimewa tentang daftar angka, tetapi ada beberapa fungsi yang dapat Anda gunakan untuk membuat bekerja dengan daftar angka lebih efisien. Mari kita membuat daftar sepuluh angka pertama, dan mulai bekerja dengannya untuk melihat bagaimana kita dapat menggunakan angka dalam daftar.

In [ ]:
# Print out the first ten numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

### FUngsi range()

In [ ]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)
    
number

1
2
3
4
5
6
7
8
9
10

10

(0,21,2) ->
0 sampai 21 pohon keputusan dengan
kelipatan 2

In [ ]:
# Print the first ten odd numbers.
for number in range(0,21,2):
    print(number)

0
2
4
6
8
10
12
14
16
18
20

Jika kita ingin menyimpan angka-angka ini dalam daftar, kita dapat menggunakan fungsi list(). Fungsi ini memiliki rentang, dan mengubahnya menjadi daftar:

In [ ]:
# Create a list of the first ten numbers.
numbers = list(range(1,11,2))
print(numbers)

[1, 3, 5, 7, 9]

Fungsi min(), max(), dan sum()

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print("Our youngest reader is " + str(youngest) + " years old.")
print("Our oldest reader is " + str(oldest) + " years old.")
print("Together, we have " + str(total_years) + 
      " years worth of life experience.")

Our youngest reader is 11 years old.
Our oldest reader is 38 years old.
Together, we have 149 years worth of life experience.

### Slicing strings

In [ ]:
message = "Hello World!"
first_char = message[0]
last_char = message[-1]

print(first_char, last_char)

H !

In [ ]:
message = "Hello World!"
first_three = message[:3]
last_three = message[-3:]

print(first_three, last_three)

Hel ld!

### Finding substrings

In [ ]:
message = "I like cats and dogs."
dog_present = 'dog' in message
print(dog_present)

True

Jika kita ingin tahu di mana substring muncul dalam string, kita bisa menggunakan metode find(). Metode find() memberi tahu kita indeks tempat substring dimulai.

In [ ]:
message = "I like cats and dogs."
dog_index = message.find('cats')
print(dog_index)

7

### Replacing substrings

ubah dog menjadi snake

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
message = message.replace('dog', 'snake')
print(message)

I like cats and snakes, but I'd much rather own a snake.

### Counting substrings

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
number_dogs = message.count('dog')
print(number_dogs)

2

In [ ]:
dna = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGCAGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

In [ ]:
count_A = dna.count('A')
print(count_A)

40

In [ ]:
count_C = dna.count('C')
print(count_C)

24

In [ ]:
dna_2 = "GATGGAACTTGACTACGTAAATT"
dna_2 = dna_2.replace('T', 'U')
print(dna_2)

GAUGGAACUUGACUACGUAAAUU

# Tuple

In [ ]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])

The first color is: red

tupple tidak bisa  menambahkan objek lagi didalam tuple

In [ ]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: ignored

In [ ]:
animal = 'dog'
print("I have a " + animal + ".")

I have a dog.

In [ ]:
animals = ['dog', 'cat', 'bear']
print("I have a %s, a %s, and a %s." % (animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.

### Sets

Penggunaan umum meliputi pengujian keanggotaan, menghapus duplikat dari urutan, dan menghitung operasi matematika seperti persimpangan, gabungan, perbedaan, dan perbedaan simetris.

In [ ]:
shapes = ['circle','square','triangle','circle']
set_of_shapes = set(shapes)
set_of_shapes

{'circle', 'square', 'triangle'}

In [ ]:
shapes = {'circle','square','triangle','circle'}
for shape in set_of_shapes:
    print(shape)

circle
square
triangle

In [ ]:
set_of_shapes.add('polygon') 
print(set_of_shapes)

{'polygon', 'circle', 'square', 'triangle'}

### IF statmen

In [ ]:
# A list of desserts I like.
desserts = ['ice cream', 'chocolate', 'apple crisp', 'cookies']
favorite_dessert = 'apple crisp'

# Print the desserts out, but let everyone know my favorite dessert.
for dessert in desserts:
    if dessert == favorite_dessert:
        # This dessert is my favorite, let's let everyone know!
        print("%s is my favorite dessert!" % dessert.title())
    else:
        # I like these desserts, but they are not my favorite.
        print("I like %s." % dessert)

I like ice cream.
I like chocolate.
Apple Crisp is my favorite dessert!
I like cookies.

### Logical Tests

Setiap pernyataan if dievaluasi menjadi *Benar* atau *Salah*. *Benar* dan *Salah* adalah kata kunci Python, yang memiliki arti khusus yang melekat padanya. Anda dapat menguji untuk kondisi berikut ini dalam pernyataan if Anda:

- [equality](#equality) (==)
- [inequality](#inequality) (!=)
- [other inequalities](#other_inequalities)
    - greater than (>)
    - greater than or equal to (>=)
    - less than (<)
    - less than or equal to (<=)
- [You can test if an item is **in** a list.](#in_list)

### Equality

In [ ]:
5 == 5

True

In [ ]:
3 == 5

False

In [ ]:
5 == 5.0

True

In [ ]:
'nadya' == 'nadya'

True

In [ ]:
'Nadya' == 'nadya'

False

In [ ]:
'Nadya'.lower() == 'nadya'.lower()

True

In [ ]:
nadya = 'Husna'

In [ ]:
nadya == 'Husna'

True

### Inequality

In [ ]:
3 != 5

True

In [ ]:
5 != 5

False

#### greater than

In [ ]:
5 > 3

True

In [ ]:
5 >= 3

True

#### Less than

In [ ]:
3 < 5

True

# FUNGSI

In [ ]:
# Let's define a function.
def nama_fungsi(parameter):
  isi fungsi

In [ ]:
def getMaxNumber(list_x) :
  max_number = 0
  for num in list_x :
    if (num > max_number) :
       max_number = num
  return max_number

In [ ]:
nilai = [20,100, 90,80,75]

In [ ]:
getMaxNumber(nilai)

100

In [ ]:
def thank_you(name):
    # fungsi ini akan mencetak 2 pesan
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")

In [ ]:
thank_you('nadya')

You are doing good work, nadya!
Thank you very much for your efforts on this project.

fungsi harus di definisikan terlebiih dahulu

In [ ]:

def terimakasih(name):
    
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")
terimakasih('Adriana')
terimakasih('Billy')
thank_you('Caroline')

You are doing good work, Adriana!
Thank you very much for your efforts on this project.

You are doing good work, Billy!
Thank you very much for your efforts on this project.

NameError: ignored

In [ ]:
def describe_person(first_name, last_name, age):
    # This function takes in a person's first and last name,
    #  and their age.
    # It then prints this information out in a simple format.
    print("First name: %s" % first_name.title())
    print("Last name: %s" % last_name.title())
    print("Age: %d\n" % age)

describe_person('nadya', 'husna', 23)
describe_person('nalendra', 'dwimantara', 24)

First name: Nadya
Last name: Husna
Age: 23

First name: Nalendra
Last name: Dwimantara
Age: 24

In [ ]:
def describe_person(first_name, last_name, age):
    # This function takes in a person's first and last name,
    #  and their age.
    # It then prints this information out in a simple format.
    print("First name: %s" % first_name.title())
    print("Last name: %s" % last_name.title())
    print("Age: %d\n" % age)

describe_person(23, 'nadya', 'husna')
describe_person(24,'nalendra', 'dwimantara')

AttributeError: ignored

In [ ]:
def describe_person(first_name, last_name, age):
    # This function takes in a person's first and last name,
    #  and their age.
    # It then prints this information out in a simple format.
    print("First name: %s" % first_name.title())
    print("Last name: %s" % last_name.title())
    print("Age: %d\n" % age)

describe_person(age=23, first_name='nadya', last_name='husna')
describe_person(age=24, first_name='nalendra', last_name='dwimantara')

First name: Nadya
Last name: Husna
Age: 23

First name: Nalendra
Last name: Dwimantara
Age: 24

<a name='keep_running'> </a> Menggunakan while untuk menjaga agar program kita tetap berjalan
===

In [ ]:
# Start with an empty list. You can 'seed' the list with
#  some predefined values if you like.
names = []

# Set new_name to something other than 'quit'.
new_name = ''

# Start a loop that will run until the user enters 'quit'.
while new_name != 'quit':
    # Ask the user for a name.
    new_name = input("Please tell me someone I should know, or enter 'quit': ")

    # Add the new name to our list.
    names.append(new_name)

# Show that the name has been added to the list.
print(names)

Please tell me someone I should know, or enter 'quit': nadya
Please tell me someone I should know, or enter 'quit': asanul
Please tell me someone I should know, or enter 'quit': quit
['nadya', 'asanul', 'quit']

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 6
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

i is no longer less than 6

Dictionaries (Data Structure)
===

Dictionaries adalah cara untuk menyimpan informasi yang terhubung dalam beberapa cara. Kamus menyimpan informasi dalam pasangan nilai kunci, sehingga setiap bagian informasi dalam kamus terhubung ke setidaknya satu informasi lainnya.

Kamus tidak menyimpan informasi mereka dalam urutan tertentu, jadi Anda mungkin tidak mendapatkan informasi Anda kembali dalam urutan yang sama seperti yang Anda masukkan.

### General syntax

In [ ]:

dictionary_name = {key_1: value_1, key_2: value_2, key_3: value_3}

In [ ]:
dictionary_name = {key_1: value_1,
                   key_2: value_2,
                   key_3: value_3,
                   }

### Contoh

In [ ]:
Dict = {'fish':12, 'cat':7}

In [ ]:
Dict.has_key('dog')

AttributeError: ignored

• Dict.has_key('dog') --> False \\
• Dict.keys() --> memberikan daftar semua indeks \\
• Dict.values() --> memberikan daftar semua nilai \\
• Dict.items() --> memberikan daftar pasangan indeknilai

In [ ]:
Dict.keys()

dict_keys(['fish', 'cat'])

In [ ]:
Dict.values()

dict_values([12, 7])

In [ ]:
Dict.items()

dict_items([('fish', 12), ('cat', 7)])